<div id = "response-area">
  <h1>Please find your invitation</h1>
  <%= form_tag select_match_path, :method => 'post' do %>
    <% @guests.each do |guest| %>
      <%= radio_button_tag('guests', guest.id) %> <%= guest.name_on_envelope %><br />
      <% end %>
      <br />
    <%= submit_tag "This is me." %>
  <% end %>
</div>