<!DOCTYPE html>
<html>
<head>
  <title>Respondster</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Dannalise Wedding Response</h1>
  <p>We sure hope you make it to the island!.</p>
  <hr />
<%= yield %>

</body>
</html>
